/* <Form
        style={{
          display: "flex",
          flexDirection: "column",
          gap: "10px",
          maxWidth: "400px",
        }}
      > */

.input_item{
    display: flex;
    flex-direction: column;
}      